* {
  padding: 0;
  margin: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  background-color: #edf8fc;
  /* padding: 20px;
  margin-bottom: 40px; */
  position: relative;
  /* bottom: 50px;
  right: 50px; */
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main_header {
  background-color: #ebf3f5;
  padding: 20px 40px;
  margin-bottom: 40px;
  height: 60px;
}

aside {
  border-width: 4px 0;
  border-style: solid;
  border-color: #1098ad;
  padding: 50px 40px;
  margin: 5px;
  width: 500px;
  background-color: #e5ebebf5;
  box-sizing: border-box;
}

nav {
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.link a {
  position: relative;
  padding: 5px;
  margin: 0 20px 0 0;
  display: inline-block;
}

ul,
ol {
  margin-bottom: 20px;
  margin-left: 50px;
}

h1,
h2,
h3,
h4,
p,
li {
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  padding: 10px;
  margin: 5px;
}

h2 {
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

h2::after {
  content: "Top";
  background-color: #ffe702;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -25px;
}

.author_img {
  float: left;
  margin-bottom: 20px;
  padding: 10px;
}

#Author {
  /* padding-left: 80px; */
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}

.code_img {
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

h3 {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

h4 {
  color: #1098ad;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  padding: 10px;
  margin-bottom: 10px;
}

li {
  font-size: 20px;
  padding: 6px;
  margin-left: 0;
}

/* header p {
  font-style: italic;
} */

/* footer p {
  font-size: 16px;
} */
#Author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-style: italic;
  font-size: 13px;
  padding: 10px;
}

.related_author {
  color: rgb(95, 84, 84);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.related_bullet {
  list-style: none;
  margin-left: 20px;
  padding: 10px;
}

li:first-child {
  color: red;
}

li:nth-child(3) {
  color: green;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: red;
  /* background-color: rgb(238, 135, 97); */
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  color: rgb(145, 232, 70);
  font-style: italic;
}

a:visited {
  color: purple;
}

.back_to_top {
  padding: 10px;
  text-decoration: underline;
  clear: both;
}

button {
  padding: 20px;
  margin: 10px;
  position: absolute;
  bottom: 50px;
  right: 100px;
  border: 2px solid rgb(201, 71, 71);
  border-radius: 20px;
}

.rel_1 img {
  margin: 50px;
  border: 2px solid black;
}

.rel_1 a {
  position: absolute;
  top: 600px;
  left: 60px;
}

.rel_1 a:hover {
  color: red;
}

.rel_2 img {
  margin: 50px;
  border: 2px solid black;
}

.rel_2 a {
  position: absolute;
  top: 600px;
  left: 60px;
}

.rel_2 a:hover {
  color: red;
}

.rel_3 img {
  margin: 50px;
  border: 2px solid black;
  width: 500px;
  height: auto;
}

.rel_3 a {
  position: absolute;
  top: 600px;
  left: 60px;
}

.rel_3 a:hover {
  color: red;
}

/* Floats added */
h1 {
  float: left;
}

nav {
  float: right;
}

/* .clear {
  clear: both;
} */

article {
  width: 800px;
  float: left;
}

aside {
  width: 350px;
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
